/** COLOR VARIABLES **/
/** COLOR -> https://chir.ag/projects/name-that-color **/
:root {
    --color-ebony-clay: #1F2937;
    --color-athens-gray: #E5E7EB;
    --color-buttercup: #edb519;
    --color-lightning-yellow: #FCBA18;
    --color-dodger-blue: #3882F6;
    --color-geebung: #CB921C;
    --color-link-water: #dfecf4;
}

* {
    box-sizing: border-box;
}

/** GLOBAL SELECTORS **/
body {
    font-family: Roboto, sans-serif;
}


a, button {
    cursor: pointer;
}

/** GLOBAL CUSTOM SELECTORS **/
.o-wrapper {
    max-width: 1366px;
    padding: 0 3em;
    align-self: center;
    margin: 0 auto;
    width: 100%;
}

.block-header {
    padding: 12px 0;
}

.block-section {
    margin: 3em 0;
}

/** HERO && HEADER **/
.hh-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: max-content;
    height: 100vh;
    background:
        linear-gradient(rgba(0, 0, 0, 0.05),
            rgba(0, 0, 0, 0.15)),
        url('../assets/images/essential-oil-gbdb6cac15_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.main-header {
    background: var(--color-lightning-yellow);
    width: 100%;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1.2em 3em;
}

.header-logo-text {
    font-size: 24px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-list {
    display: flex;
    gap: 0 40px;
    list-style-type: none;
}

.header-link-text {
    font-size: 18px;
    text-decoration: none;
}

.header-link-text:hover {
    text-decoration: underline;
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5em 0;
}

.hero-text-container {
    max-width: 500px;
}

.hero-text-container>* {
    padding: 10px 0;
}

.hero-image-wrapper {
    flex: 1 1 60%;
    width: 100%;
    height: 100%;
    background: #fff;
}

.hero-main-text {
    color: #0a0a0a;
    font-size: 48px;
    font-weight: 700;
}

.hero-secondary-text, .header-link-text {
    font-size: 18px;
    color: hsl(210, 3%, 13%);
}

/** INFORMATIONAL TEXT **/
.informational-block {
    padding: 3em 5em;
    background-color: #f5f2f2;
}

.informational-wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.informational-header {
    font-size: 32px;
    font-weight: 600;
    color: #1F2937;
    text-align: center;
    border-bottom: #1F2937;
}

.informational-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem 3rem;
}

.informational-item {
    display: flex;
    flex-direction: column;
    flex: 1 1 20%;
    justify-content: center;
}

.informational-img-wrapper {
    border: 3px solid var(--color-lightning-yellow);
    border-radius: 8px;
    height: 160px;
}

.informational-text {
    margin: .8em 0;
}

/** TESTIMONY **/
.testimonial-block {
    background-image: url('../assets/images/marigold-gbae09c331_1920.jpg');
    padding: 5rem;
}

.testimony-wrapper {
    background: rgba(228, 227, 227, 0.405);
    border-radius: 12px;
    max-width: 1000px;
    height: max-content;
}

.testimony-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.testimony {
    padding: 4em 3em 1.8em;
    font-style: italic;
    color: #1F2937;
}

.testimony-author {
    padding: 2.4em 0;
    font-size: 20px;
    text-align: end;
}

/** BUTTON **/
.lightning-yellow-btn {
    background: var(--color-lightning-yellow);
    color: #fff;
    border: none;
    box-shadow: 0px 4px 15px 0 rgb(0, 0, 0, .16);
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 600;
}

.black-border-btn {
    background: var(--color-lightning-yellow);
    color: #1a1919;
    border: 1px solid #1a1919;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 600;
}

.btn-container {
    display: flex;
    gap: 0 20px;
}

/** SIGN UP BOX **/
.sign-up-section {
    padding: 2em 0;
    margin: 0 auto;
}

.sign-up-block {
    background: var(--color-lightning-yellow);
    border-radius: 4px;
}

.sign-up-box {
    display: flex;
    justify-content: space-between;
    padding: 4em 6em;
}

.sign-up-main {
    font-weight: 700;
    font-size: 16px;
}

.sign-up-secondary {
    font-weight: 300;
}

.sign-up-btn-wrapper {
    text-align: center;
}

/** FOOTER **/
.footer {
    background-color: #E5E7EB;
    text-align: center;
}

.footer-text {
    padding: 2.2em 0;
    font-size: 12px;
    color: #1f2937;
}

@media screen and (max-width: 768px){
    .header-wrapper{
        flex-direction: column;
    }
    .header-wrapper > *{
        padding: 1.5em 2em 1.5em 0;
    }
    .header-nav-list{
        flex-wrap: wrap;
        gap: 20px;
    }
    .o-wrapper{
        padding: 0 2em;
    }
    .informational-block{
        padding: 1em 1.8em;
    }
    .testimonial-block {
        padding: 2rem;
    }
    .testimony {
        padding: 2rem 1.6rem 1.2rem;
        font-style: italic;
        color: #1F2937;
    }
    .sign-up-block, .sign-up-section{
        width: 100%;
        padding: 0;
    }
    .sign-up-box {
        display: flex;
        justify-content: space-between;
        padding: 1.5em 3em;
    }
}
@media screen and (max-height: 480px){
    .hh-container{
        height: max-content;
    }
}